body {
  background-color: var(--cor-branca);
  color: var(--cor-preta);
  font-family: var(--font-georgia);
}

.top-page {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-dm-sans);
}

.top-page a {
  text-decoration: none;
  color: var(--azul-marinho);
  font-weight: 800;
  font-size: 32px;
}

.top-page .logo {
  margin-right: 6rem;
}

.top-page .navegation .navegation-content {
  display: flex;
  flex-direction: row;
}

.top-page .navegation .navegation-content .empresa {
  margin-left: 10rem;
}

.top-page .navegation .navegation-content .produtos {
  margin-left: 15rem;
}

.top-page .navegation .navegation-content .contato {
  margin-left: 15rem;
}

.top-page .navegation .navegation-content .login {
  margin-left: 15rem;
}