body {
    background-image: url("img1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
  
    color: #000;
  }